body{
   background-color: #f1ebb2;
   font-family: 'Roboto', sans-serif;
   font-size: 16px;
   font-weight: 500;
   line-height: 1.5;
}


.container {
   max-width: 1200px;
   margin: 0 auto;
   padding: 15px 15px;
}
.task {
   border: 2px solid #7295e0;
   margin: 20px;
   border-radius: 10px;
   background-color: #f3cece;
   padding: 20px;
   transition: all 0.3s;
   
   
}
.task:hover{
   background-color: rgb(200, 249, 171);
}
h2{
   font-size: 20px;
   font-weight: 700;
}
h3{
   font-size: 18px;
   
}
table, tr, td, th{
   border: 1px solid #515f7e;
   padding: 5px;
   margin: 50px;
   background-color: #F2D8D8;
}